@import '~terra-mixins';

/* Hide mounted apps that haven't loaded or authorized */
.xfc[data-status='mounted'],
.xfc[data-status='launched'] {
  display: none;
}

/* Reveal the app once its been authorized */
.xfc[data-status='authorized'] {
  display: block;
}

.terra-EmbeddedContent {
  height: 100%;
  width: 100%;
  .xfc {
    height: 100%;
    width: 100%;
    iframe {
      border: 0;
      height: 100%;
      width: 100%;
    }
  }
}